@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

  body {
    color: #fff;
    font-family: Arial, sans-serif;
    margin-left: 20px;
  }
  
  .bg-image {
    background-image: url("imgbkg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
      
}

.text-container {
    z-index: 1;
    position: relative;
    text-align: center;
    color: #fff;
    padding-top: 50px;
}

    h1 {
        font-family:'Press Start 2P', serif, cursive;
        font-size: 50px;
        text-align: center;
        margin-top: 70px;
    }
    
    h3 {
        font-size: 20px;
        font-weight: 60;
        font-family: 'Press Start 2P', serif, cursive;
        margin-top: 90px;
    }
    
    button {
        background: linear-gradient(to right, #e91e63, #9c27b0);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        font-size: 15px
    }
    
    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
        box-sizing: border-box;
    }
    
    th {
        text-align: left;
        background-color: #0e0341;
        padding: 10px;
    }
    
    td {
        border-bottom: 1px solid #555;
        background-color: #0c0633;
    }
    
    td button {
        background: linear-gradient(to right, #e91e63, #9c27b0);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        margin-right: 10px;
        cursor: pointer;
    }

